language: cpp
sudo: required
dist: trusty

compiler: 
  - gcc
  - clang

os:
  - linux
  - osx

script:
  - qmake Taranis.pro
  - make

addons:
  apt:
    sources:
      - ubuntu-sdk-team
    packages:
      - qt5-qmake
      - qt5-default

before_install:
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew update; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew install qt5; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then export PATH=$PATH:/usr/local/opt/qt5/bin/; fi