language: cpp
sudo: required
dist: trusty

matrix:
  allow_failures: 
    - compiler: gcc
      os: linux
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-4.6
      env: COMPILER=g++-4.6
  include:
    - compiler: gcc
      os: linux
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-4.6
      env: COMPILER=g++-4.6
    - compiler: gcc
      os: osx
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-4.6
      env: COMPILER=g++-4.6

compiler:
  - gcc 
  - clang
os:
  - linux
  - osx

addons:
  apt:
    sources:
      - ubuntu-sdk-team
    packages:
      - qt5-qmake
      - qt5-default
      - doxygen

before_install:
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew update; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew install qt5 doxygen; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then export PATH=$PATH:/usr/local/opt/qt5/bin/; fi

before_script:
  - if [[ "$COMPILER" ]]; then export CXX=$COMPILER; fi
  - if [[ "$COMPILER" ]]; then $CXX --version; fi
  - doxygen --version;

script:
  - qmake Taranis.pro
  - make
  - make check
  - make doc