version: '{build}'

branches:
  except:
    - gh-pages

os: Visual Studio 2015
clone_depth: 5

platform:
  - Win32

configuration:
  - Release

install:
  - cinst doxygen.install
  - set QTDIR=C:\Qt\5.6\mingw492_32
  - set PATH=%PATH%;%QTDIR%\bin;C:\MinGW\bin

build:
  verbosity: detailed

build_script:
  - qmake Taranis.pro
  - mingw32-make

test_script:
  - mingw32-make check

after_test:
  - mingw32-make doc