version: '{build}'

branches:
  except:
    - gh-pages

clone_depth: 5

os: Visual Studio 2015

environment:
  matrix:
  - VisualStudioVersion: 14.0
    COMPILER: vs2015
 
  - VisualStudioVersion: 12.0
    COMPILER: vs2013

  - COMPILER: gcc

matrix:
  allow_failures:
    - VisualStudioVersion: 12.0
      COMPILER: vs2013

platform:
  - Win32

configuration:
  - Release

install:
  - echo Building with [%COMPILER%]
  - cinst doxygen.install
  - set PATH=%PATH%;c:\Program Files\doxygen\bin
  - if [%COMPILER%] == [vs2015] set QTDIR=C:\Qt\5.6\msvc2015
  - if [%COMPILER%] == [vs2013] set QTDIR=C:\Qt\5.6\msvc2013
  - if [%COMPILER%] == [gcc] set QTDIR=C:\Qt\5.6\mingw49_32
  - echo QTDIR == %QTDIR%
  - set PATH=%PATH%;%QTDIR%\bin
  - if [%COMPILER%] == [gcc] set PATH=%PATH%;C:\MinGW\bin

before_build:
  - cmd: doxygen --version
  - cmd: qmake --version
  - cmd: if [%COMPILER%] == [gcc] g++ --version
  - cmd: if NOT [%COMPILER%] == [gcc] msbuild /version 
  - cmd: if [%COMPILER%] == [vs2015] ( cd Taranis && qmake -spec win32-msvc2015 -tp vc Taranis.pro && cd .. )
  - cmd: if [%COMPILER%] == [vs2015] ( cd TaranisTest && qmake -spec win32-msvc2015 -tp vc TaranisTest.pro && cd .. )
  - cmd: if [%COMPILER%] == [vs2015] ( cd Example && qmake -spec win32-msvc2015 -tp vc Example.pro && cd .. )
  - cmd: if [%COMPILER%] == [vs2015] ( qmake -spec win32-msvc2015 -tp vc Taranis.pro )
  - cmd: if [%COMPILER%] == [vs2013] ( cd Taranis && qmake -spec win32-msvc2013 -tp vc Taranis.pro && cd .. )
  - cmd: if [%COMPILER%] == [vs2013] ( cd TaranisTest && qmake -spec win32-msvc2013 -tp vc TaranisTest.pro && cd .. )
  - cmd: if [%COMPILER%] == [vs2013] ( cd Example && qmake -spec win32-msvc2013 -tp vc Example.pro && cd .. )
  - cmd: if [%COMPILER%] == [vs2013] ( qmake -spec win32-msvc2013 -tp vc Taranis.pro )
  - cmd: if [%COMPILER%] == [gcc] ( qmake Taranis.pro )

build:
  verbosity: detailed

build_script:
  - cmd: if [%COMPILER%] == [gcc] ( mingw32-make )
  - cmd: if NOT [%COMPILER%] == [gcc] ( msbuild Taranis.sln )

test_script:
#   - cmd: echo c:\projects\taranis\TaranisTest\%CONFIGURATION%\TaranisTest.exe 
#   - mingw32-make check 

after_test:
#   - mingw32-make doc